@font-face {
  font-family: "OptimusPrinceps";
  src: local("OptimusPrinceps"), url(./fonts/OptimusPrinceps.ttf) format("truetype");
}

* {
  font-family: "OptimusPrinceps", serif;
}

html {
  background: #333;
  color: #eee;
  width: 100%;
  font-size: 1.3rem;
  padding: 10px;
}

.main {
  margin: 0;
  padding: 5px;
}

.optimizer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.planner {
  margin-top: 20px;
}

.info {
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 10px;
  display: inline;
}

span {
  line-height: 1.5rem;
}

.statButton {
  color: #eee;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.stats {
  padding: 5px;
  min-width: 340px;
  max-width: 340px;
}

.build {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.info {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  min-width: 320px;
  max-width: 320px;
  margin: 5px;
}

.info li {
  display: flex;
  justify-content: space-between;
  padding: 3px 0 3px 0;
  border-bottom: 1px solid #666;
  min-width: 300px;
  max-width: 300px;
}

.results {
  min-width: 290px;
  max-width: 290px;
  padding: 25px;
  overflow-y: scroll;
  max-height: 420px;
}

.result {
  display: flex;
  padding: 3px 2px 3px 2px;
  border-bottom: 1px solid #666;
  justify-content: space-between;
  cursor: pointer;
}

.result:hover {
  background-color: #666;
  padding: 5px;
}

.btn-plan {
  display: none;
  font-size: 0.65rem;
  background: #555;
  padding: 0 2px;
  border-radius: 10px;
}

.result:hover .btn-plan {
  display: inline;
}

.statblock {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
}

.stat {
  display: flex;
  padding: 4px 0 1px 0;
  border-bottom: 1px solid #666;
  justify-content: space-between;
}

img {
  width: 26px;
  height: 26px;
  margin-bottom: -6px;
  margin-right: 5px;
}

.equipinput {
  width: 85%;
  font-size: 1rem;
  background: #333;
  color: #eee;
  border: none;
  padding: 3px;
  border-radius: 5px;
  z-index: -1;
}

.equipResults {
  position: absolute;
  margin-top: -8px;
  width: 296px;
  padding: 5px 0;
}

.equipResult {
  width: 100%;
  font-size: 0.8rem;
  text-align: left;
  max-width: 296px;
  padding: 5px;
  background-color: #444;
  color: #eee;
  cursor: pointer;
  border: none;
  border-top: 1px solid #eee;
}

.equipResult:hover {
  background-color: #666;
}

.statinput {
  width: 40px;
  text-align: center;
  font-size: 1.1rem;
  background: #333;
  color: #eee;
  border: none;
  padding: 3px;
  border-radius: 5px;
}

.statinput:focus {
  background: #555;
}

select,
option {
  font-size: 1rem;
  background: #333;
  color: #eee;
  font-family: "OptimusPrinceps", serif;
}

.btn-reset {
  padding: 5px 8px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background: #222;
  cursor: pointer;
  color: #eee;
}

.btn-reset:hover {
  background: #555;
}

.nav-item {
  color: #ccc;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.nav-item:hover {
  color: #eee;
}

.nav-item.active {
  color: #eee;
  text-decoration: underline;
}

.indev {
  font-family: sans-serif;
  font-size: 0.8rem;
}

/* funsies */
.embers {
  outline: none;
  text-shadow: 0 0 2px red;
  animation: 2s embers infinite alternate linear;
}

@keyframes embers {
  0% {
    text-shadow: -1px 0 2px red;
  }
  25% {
    text-shadow: -1px -1px 2px red;
  }
  50% {
    text-shadow: 0 -1px 2px red;
  }
  75% {
    text-shadow: 1px 1px 2px red;
  }
  100% {
    text-shadow: 1px 0 2px red;
  }
}
